pysqlite3-binary
chromadb
pydantic-settings
pydantic
rank_bm25
huggingface-hub
langchain
langchain-community
langchain-openai
langchainhub
langsmith
openai
pypdf
python-dotenv
PyYAML
streamlit
tiktoken
toml
python-docx
docx
